.container {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
 
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    background-color: rgba(173, 216, 230, 0.7);
}
body{
   background-color: #ADD8E6;
}
img {
  border: 2px solid #000000; /* thickness, style, and color */
}